{% load static %}
<div id="login-portal" class="hidden" data-portal-open="false" data-headlessui-portal="">
        <button type="button" data-headlessui-focus-guard="true" aria-hidden="true"
                style="position: fixed; top: 1px; left: 1px; width: 1px; height: 0px; padding: 0px; margin: -1px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); white-space: nowrap; border-width: 0px;"></button>
        <div>
            <div class="fixed inset-0 z-50 overflow-y-auto" dir="ltr" role="dialog" aria-modal="true">
                <div class="min-h-full text-center md:p-5">
                    <div class="fixed inset-0 h-full w-full bg-gray-900 bg-opacity-50 opacity-100" data-close-portal="login-portal"></div>
                    <span class="hidden md:inline-block h-screen align-middle" aria-hidden="true">&ZeroWidthSpace;</span>
                    <div class="min-w-content relative inline-block max-w-full align-middle transition-all ltr:text-left rtl:text-right opacity-100 scale-100" data-headlessui-state="open">
                        <button data-close-portal="login-portal" class="absolute top-4 z-[60] inline-block outline-none focus:outline-0 ltr:right-4 rtl:left-4 lg:hidden">
                            <span class="sr-only">close</span>
                            <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                            </svg>
                        </button>
                        <div class="flex h-full min-h-screen w-screen flex-col justify-center bg-light py-6 px-5 sm:p-8 md:h-auto md:min-h-0 md:max-w-[480px] md:rounded-xl">
                            <div class="flex justify-center">
                                <a class="inline-flex" href="/">
                                    <span class="relative h-[2.125rem] w-32 overflow-hidden md:w-[8.625rem]">
                                    <img
                                            alt="medical store"
                                            class="object-contain"
                                            src="{% static 'images/logotype.webp' %}"
                                            style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;"
                                    ></span>
                                </a>
                            </div>
                            <p class="mt-4 mb-8 text-sm text-center text-body sm:mt-5 sm:mb-10 md:text-base">გაიარეთ
                                ავტორიზაცია თქვენი მომხმარებლისა და პაროლის საშუალებით</p>
                            <p class="mb-4 text-green-600 text-center text-sm" id="success_response"></p>
                            <form action="/accounts/login/" method="post" id="login-form">
                                {% csrf_token %}
                                <div class="mb-5">
                                    <label for="login_username"
                                           class="mb-3 block text-sm font-semibold leading-none text-body-dark cursor-pointer">მომხმარებელი</label>
                                    <input
                                            id="login_username"
                                            type="text"
                                            class="flex w-full appearance-none items-center px-4 text-sm text-heading transition duration-300 ease-in-out focus:outline-0 focus:ring-0 border border-border-base rounded focus:border-accent h-12"
                                            autocomplete="off"
                                            value=""
                                    >
                                    <div class="text-red-500 font-medium text-xs italic my-1 invisible"
                                         data-validation-key="username"></div>
                                </div>
                                <div class="mb-5">
                                    <label for="login_password"
                                           class="text-sm font-semibold text-body text-body-dark cursor-pointer">პაროლი</label>
                                    <div class="relative">
                                        <input
                                                id="login_password"
                                                data-password-eye="#login_password_eye"
                                                type="password"
                                                class="w-full appearance-none rounded py-3 text-sm text-heading transition duration-300 ease-in-out focus:outline-0 focus:ring-0 ltr:pl-4 ltr:pr-11 rtl:pr-4 rtl:pl-11 border border-border-base focus:border-accent"
                                                autocomplete="off"
                                                value=""
                                        >
                                        <label for="login_password"
                                               class="absolute top-5 -mt-2 cursor-pointer text-body ltr:right-4 rtl:left-4"
                                               id="login_password_eye">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                 stroke="currentColor" class="h-6 w-6">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                      d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21"></path>
                                            </svg>
                                        </label>
                                    </div>
                                    <div class="text-red-500 font-medium text-xs italic my-1 invisible"
                                         data-validation-key="password"></div>
                                </div>
                                <div class="mt-8">
                                    <button data-variant="normal"
                                            class="inline-flex items-center justify-center shrink-0 font-semibold leading-none rounded outline-none transition duration-300 ease-in-out focus:outline-0 focus:shadow focus:ring-1 focus:ring-accent-700 bg-accent text-light border border-transparent hover:bg-accent-hover px-5 py-0 h-12 w-full h-11 sm:h-12">
                                        ავტორიზაცია
                                    </button>
                                </div>
                            </form>
                            <div class="relative flex flex-col items-center justify-center mt-8 mb-6 text-sm text-heading sm:mt-11 sm:mb-8">
                                <hr class="w-full">
                                <span class="absolute -top-2.5 bg-light px-2 ltr:left-2/4 ltr:-ml-4 rtl:right-2/4 rtl:-mr-4">ან</span>
                            </div>
                            <div class="text-sm text-center text-body sm:text-base">არ გაქვთ ანგარიში?
                                <button data-portal="register-portal"
                                        class="font-semibold underline transition-colors duration-200 text-accent hover:text-accent-hover hover:no-underline focus:text-accent-hover focus:no-underline focus:outline-0 ltr:ml-1 rtl:mr-1">
                                    რეგისტრაცია
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" data-headlessui-focus-guard="true" aria-hidden="true"
                style="position: fixed; top: 1px; left: 1px; width: 1px; height: 0px; padding: 0px; margin: -1px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); white-space: nowrap; border-width: 0px;"></button>
    </div>