@import "./fonts/fonts.css";

body {
    font-family: "Noto Sans Georgian", "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Noto Sans Georgian", "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100
}

p {
    font-family: "Noto Sans Georgian", "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100
}

.search-box {
    overflow-y: scroll;
    padding-top: 1.25rem;
}

.text-accent {
    --tw-text-opacity: 1;
    color: rgba(var(--color-accent), var(--tw-text-opacity));
}

.max-w-\[480px\] {
    max-width: 480px;
}

@media (min-width: 1280px) {
    .category-aside {
        width: 25rem;
    }

    .search-box {
        overflow-y: scroll;
        padding-top: 7.25rem;
    }
}

@media (min-width: 1024px) {
    .category-aside {
        top: 5.25rem;
    }

    .lg\:max-w-\[70\%\] {
        max-width: 70%;
    }

    .lg\:max-w-\[30\%\] {
        max-width: 30%;
    }
}

@media (min-width: 768px) {
    .md\:inline-block {
        display: inline-block;
    }
}