{% extends "layout.html" %}
{% load static %}
{% block title %}
    შეკვეთა შეჩერებულია
{% endblock title %}
{% block content %}
    <div class="p-4 sm:p-8">
        <div class="mx-auto w-full max-w-screen-lg">
            <div class="grid min-h-screen place-items-center p-4 sm:p-8">
                <div class="text-center">
                    <p class="2xl: mb-4 text-sm uppercase tracking-widest text-body-dark sm:mb-5">თქვენს მიერ მოთხოვნილი შეკვეთის დამუშავება ვერ მოხერხდა! სცადეთ მოგვიანებით.</p>
                    <h1 class="mb-5 text-2xl font-bold leading-normal text-bolder sm:text-3xl">შეკვეთა ვერ მოხერხდა</h1>
                    <div class="mb-11">
                        <img alt="გვერდი ვერ მოიძებნა" class="w-full h-96 object-contain" src="/static/images/no-result.svg" style="color: transparent;">
                    </div>
                    <a class="inline-flex items-center text-bolder underline hover:text-body-dark hover:no-underline focus:outline-none sm:text-base" href="/">
                        მთავარზე დაბრუნება
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}